<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="assets/img/banner.jpg" />
  <form [formGroup]="loginForm" (submit)="loginUser()">
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
       loginForm.controls.email.touched">
      <ion-label>Please enter a valid email address.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!loginForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
      && loginForm.controls.password.touched">
      <ion-label>Your password needs more than 6 characters.</ion-label>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
      Log In
    </ion-button>
  </form>

  <ion-button expand="block" clear routerLink="/signup">
    Create a new account
  </ion-button>

  <ion-button expand="block" clear routerLink="/reset-password">
    I forgot my password :(
  </ion-button>
</ion-content>